:root {
	--light-black-color: #626262;
	--dark-white-color: #b4ad9e;
	--very-dark-white-color: #7d7d7d;
	--blue-color: #03a9f4;
	--white-color: #ffffff;
}

body {
	font-family: 'Playfair Display', serif;
	font-weight: Regular;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: var(--light-black-color);
}

.container {
	width: 906px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	margin-top: 71px;
	margin-bottom: 92px;
}

.header-list {
	display: flex;
	flex-direction: row;
	gap: 100px;
	justify-content: center;
}

.header-link {
	text-transform: uppercase;
	color: var(--very-dark-white-color);
}

.header-link:hover {
	color: var(--blue-color);
}

.gallery {
	margin-bottom: 66px;
}

.gallery-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery-articles {
	margin-bottom: 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 130px;
	justify-content: space-between;
}

.gallery-article {
	width: 420px;
	display: flex;
	flex-direction: column;
	gap: 62px;
}

.gallery-image {
	width: 420px;
	height: 280px;
}

.gallery-name {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: var(--dark-white-color);
}

.gallery-name:not(:last-child) {
	margin-bottom: 32px;
}

.gallery-title {
	font-size: 30px;
}

.gallery-title:not(:last-child) {
	margin-bottom: 40px;
}

.gallery-text {
}

.gallery-text:not(:last-child) {
	margin-bottom: 20px;
}

.gallery-button {
	display: inline-block;
	background-color: var(--white-color);
	border: 1px solid var(--light-black-color);
	padding: 20px 48px;
}
